
<ion-header>

  <ion-navbar>
    <ion-title>Add Student</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Name </ion-label>
      <ion-input type="text" id="name" [(ngModel)]="name" minlength="2" maxlength="70"  text-right ></ion-input>
    </ion-item>
    <ion-item *ngIf='!hasValidName'>
      <font size="2">Enter a valid name</font>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="department" interface="popover">
        <ion-option value="CSE">CSE</ion-option>
        <ion-option value="ME">ME</ion-option>
        <ion-option value="CV">CV</ion-option>
        <ion-option value="EEE">EEE</ion-option>
        <ion-option value="ECE">ECE</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf='!hasValidDepartment'>
      <font size="2">Enter a valid Branch</font>
    </ion-item>
    <ion-item>
      <ion-label>Roll No </ion-label>
      <ion-input type="number" [(ngModel)]="rollno"  text-right></ion-input>
    </ion-item>
    <ion-item *ngIf='!hasValidRollNo'>
      <font size="2">Enter a valid Roll No</font>
    </ion-item>
    <ion-item>
      <ion-label>CGPA </ion-label>
      <ion-input type="number" [(ngModel)]="cgpa"  text-right></ion-input>
    </ion-item>
    <ion-item *ngIf='!hasValidCGPA'>
      <font size="2">Enter a valid CGPA</font>
    </ion-item>
  </ion-list>
  <ion-list>
    <button ion-button clear   (click)="saveStudent()">
      <ion-icon   name="checkmark"></ion-icon>
      Save
    </button>
  </ion-list>
</ion-content>
